<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
        script(src="app.js")
        script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=doxy")
        script(src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/webcomponents-loader.js")
        script(src="entryfile.js")
        

    body
        div.wp
            div.bg
            header
                h2 rikaaa.org
            article
                section
                    h1= '<rikaaa-img-extra>'
                    p The Custom element to impliment lazy load and image filtering.
                section.maindemo
                    div.list
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220")
                            p original
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" blur="5")
                            p blur
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" contrast="2")
                            p contrast
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" brightness="10")
                            p brightness
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" saturate="3")
                            p saturate
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" hue-rotate="180")
                            p hue-rotate
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" invert="1")
                            p invert
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" opacity="0.5")
                            p opacity
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" grayscale="1")
                            p grayscale
                        div.item
                            rikaaa-img-extra(data-src="images/Lenna.jpg" data-alt="lazytest" size="220x220" sepia="1")
                            p sepia
                    div.sliders_demo
                        rikaaa-img-extra(data-src="images/starry_night.jpg" data-alt="lazytest" size="752x600" id="s")
                        div.sliders
                            div
                                span blur
                                input(id="blur" min="0.0" max="100.0" step="0.1" type="range" value="0.0")
                                output(id="blur-o") 0
                            div
                                span contrast
                                input(id="contrast" min="1.0" max="10.0" step="0.1" type="range" value="1.0")
                                output(id="contrast-o") 1
                            div
                                span brightness
                                input(id="brightness" min="0.0" max="10.0" step="0.01" type="range" value="1.0")
                                output(id="brightness-o") 1
                            div
                                span saturate
                                input(id="saturate" min="0.0" max="2.0" step="0.001" type="range" value="1.0")
                                output(id="saturate-o") 1
                            div
                                span hue-rotate
                                input(id="hue-rotate" min="0.0" max="360.0" step="0.1" type="range" value="0.0")
                                output(id="hue-rotate-o") 0
                            div
                                span invert
                                input(id="invert" min="0.0" max="1.0" step="0.01" type="range" value="0.0")
                                output(id="invert-o") 0
                            div
                                span opacity
                                input(id="opacity" min="0.0" max="1.0" step="0.01" type="range" value="1.0")
                                output(id="opacity-o") 1
                            div
                                span grayscale
                                input(id="grayscale" min="0.0" max="1.0" step="0.01" type="range" value="0.0")
                                output(id="grayscale-o") 0
                            div
                                span sepia
                                input(id="sepia" min="0.0" max="1.0" step="0.01" type="range" value="0.0")
                                output(id="sepia-o") 0
                section
                    p.title Installation
                    p script
                    pre.prettyprint.lang-html
                        = '<!-- If you want to use The Custom Element -->'
                        br
                        = '<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/webcomponents-loader.js"></script>'
                        br
                        br
                        = '<script src="rikaaa-img-extra.js"></script>'
                    p esm
                    pre.prettyprint.lang-js
                        = 'import "rikaaaimgextra" from "rikaaa-img-extra.esm";'
                        br
                        br
                        ='customElements.define("rikaaa-img-extra", rikaaaimgextra);'
                    
                section 
                    p.title Usage
                    p HTML
                    pre.prettyprint.lang-html
                        ='<rikaaa-img-extra data-src="your image path" data-alt="your image alt text" size="000x000"></rikaaa-img-extra>'
                    p Event
                    pre.prettyprint.lang-ja
                        ='Array.from(document.querySelectorAll("rikaaa-img-extra")).forEach(function(elem) {'
                        br
                        ='    elem.addEventListener("load", function() {'
                        br
                        ='        console.log("loaded");'
                        br
                        ='    });'
                        br
                        ='});'
                        br
                section 
                    p.title Attributes
                    dl.attributes
                        dt.require 
                            span data-src ="string"
                        dd The parameter to set image path by text.
                        dt.require 
                            span size = "000x000"
                        dd
                            p The parameter to set the size of image by text. 
                            p For example, indication of '640x480' in case of width 640 pixel and height 480 pixel.
                        dt 
                            span data-alt = "string"
                        dd The parameter to set 'alt' of image by text.
                        dt 
                            span offset = "integer"
                        dd 
                            p The parameter to set the margin between bottom end of viewport and The Custom element.
                            p In case, the margin of actual browser display shows smaller than the margin specified the image will be loaded. The unit is pixel. 
                            p default value is 100.
                        dt 
                            span blur = "float"
                        dd The parameter to set the condition of blur by floating decimal point.
                        dt 
                            span contrast = "float"
                        dd The parameter to set the condition of contrast by floating decimal point. The minimum parameter is 1.0.
                        dt 
                            span brightness = "float"
                        dd The parameter to set the condition of brightness by floating decimal point. The minimum parameter is 0.
                        dt 
                            span saturate = "float"
                        dd The parameter to set the condition of saturate by floating decimal point. The minimum parameter is 0.
                        dt 
                            span hue-rotate = "float"
                        dd The parameter to set the condition of hue rotattion by floating decimal point. The unit is degree. The range is 0 to 360.
                        dt 
                            span invert = "float"
                        dd The parameter to set the condition of invert by floating decimal point. The range is 0 to 1.0.
                        dt 
                            span opacity = "float"
                        dd The parameter to set the condition of opacity by floating decimal point. The range is 0 to 1.0.
                        dt 
                            span grayscale = "float"
                        dd The parameter to set the condition of grayscale by floating decimal point. The range is 0 to 1.0.
                        dt 
                            span sepia = "float"
                        dd The parameter to set the condition of sepia by floating decimal point. The maximum parameter is 1.0.
                    
