:host {
    position: relative;
    display: block;
    width: 100%;

    .placeholder_container,
    .svg_container {
        position: relative;
        width: 100%;

        .spacer,
        .svg_spacer {
            display: block;

            .placeholder,
            .svg_wp {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }

    ::slotted(*) {
        vertical-align: bottom;
    }
}
